section {
	width: 100%;
	display: inline-block;
	border: 0px solid gray;
	border-radius: 15px;
	margin-bottom: 30px;
	padding: 10px;
	background-color: lightblue;
}

h1, h2, h3 {
	text-align: center;
}

body {
	background-color: lightgreen;
}

.container {
	margin: 50px;
	padding: 50px;
	background-color: #f0efe0;
}

.panel {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}